@media screen and (min-width: 450px) {
    body {
      background-color: brown;
    }
  }
  element.style {
  }
  *, *::before, *::after {
      box-sizing: inherit;
  }
  * {
      margin: 0;
      padding: 0;
  }
  user agent stylesheet
  link {
      display: none;
  }
  :root {
      --main-white: #f0f0f0;
      --main-red: #be3144;
      --main-blue: #45567d;
      --main-gray: #303841;
  }
  @media (max-width: 75em)
  html {
      font-size: 60%;
  }
  html {
      box-sizing: border-box;
      font-size: 62.5%;
      scroll-behavior: smooth;
  }
  *, *::before, *::after {
      box-sizing: inherit;
  }
  *, *::before, *::after {
      box-sizing: inherit;
  }